# Server Configuration
PORT=5000
NODE_ENV=development


# Database Configuration
MONGO_URI=mongodb+srv://yousef2005alahmed_db_user:123qweQWE123@cluster0.jicklrk.mongodb.net/?appName=Cluster0
DB_NAME=test


# FrontEnd

# Login Page
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
